body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
}

.app {
  display: flex;
  height: 100vh;
}

/* esquerda */
.left {
  width: 50%;
  background: #020617;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skin {
  height: 400px;
  image-rendering: pixelated;
}

/* direita */
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  background: #1e293b;
  color: white;
}

.header {
  padding: 15px;
  background: #020617;
  border-bottom: 1px solid #333;
}

.chat {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.bot-msg {
  background: #334155;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.user-msg {
  text-align: right;
  margin-bottom: 10px;
}

.user-msg span {
  background: #22c55e;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #333;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

button {
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
}
